body {
    font-family: 'Noto Sans TC', sans-serif;
    background: #F0F0F0;
    color: #000000;
}

.font-squada {
    font-family: 'Squada One', cursive;
}

.font-noto {
    font-family: 'Noto Sans TC', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}