.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.ranking-img {
  width: 100%;
  height: 374px;
  object-fit: cover;
  object-position: top;
  position: relative;
}

.ranking-number {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  margin-top: -1px;
  margin-left: -1px;
}

.triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  /*  三角形  */
  width: 0;
  height: 0;
  border-right: 16px solid #000000;
  border-top: 16px solid transparent;
}

.ranking-btn-hover {
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
  margin-bottom: -1px;
  margin-right: -1px;
}

.ranking-img-hover {
  position: relative;

  &:hover {

    &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.5;
    }

    .triangle {
      display: block;
      z-index: 2;
    }

    .ranking-btn-hover {
      display: block;
      z-index: 1;
    }
  }
}


.ranking-mask {
  position: relative;
  display: none;
}

.triangle-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  /*  三角形  */
  width: 0;
  height: 0;
  border-right: 16px solid #e6553b;
  border-top: 16px solid transparent;
}

.ranking-img-hover-2 {
  position: relative;

  &:hover {
    &::after {
      content: "MORE";
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      background-color: #000000;
      opacity: 0.5;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Squada One', cursive;
    }

    .triangle-2 {
      display: block;
      z-index: 2;
    }

    .ranking-mask {
      display: block;
      z-index: 1;
    }
  }
}

.img-hover {
  position: relative;
  background-color: #000;

  &:hover {
    &::after {
      content: "more";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.8;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .triangle {
      display: block;
      z-index: 1;
    }
  }
}

.ranking-number-sm {
  background: #ffffff;
  width: 53px;
  height: 91px;
  margin-top: -1px;
  margin-left: -1px;
}

.ranking-img-sm {
  width: 85px;
  height: 91px;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.artwork-hover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.img-hover {
  position: relative;

  &:hover {

    .artwork-hover {
      display: block;
      background-color: rgba($color: #000000, $alpha: 0.5);

    }
  }
}

.top-24 {
  top: 24px;
}

.bottom-24 {
  bottom: 24px;
}

.left-24 {
  left: 24px;
}

.right-24 {
  right: 24px;
}

.opacity-85 {
  opacity: 0.85;
}


.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
      display: none;
  }

  .mobile {
      display: block;
  }
}