.btn-more {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        border-left: 16px transparent solid;
        border-bottom: 16px #E6553B solid;
    }

    &:hover::after {
        border-bottom: 16px black solid;
    }
}

.btn-white {
    background-color: white;
    border: 1px solid black;

    &:hover {
        background-color: #E6553B;
        color: white;
    }
}

.btn-border {
    border: 1px solid black;

    &:hover {
        background-color: #E6553B;
        color: white !important;
        border: 1px solid black;
    }
}

.btn-ranking {
    position: relative;
    border: 1px solid black;
    background-color: #E6553B;
    color: white;

    &:hover::after {
        border-bottom: 1px black solid;
    }
}